<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown">
    <button
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Tutorial
    </button>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          routerLink="/getstarted"
          routerLinkActive="bg-warning text-black"
          >1. Get Started</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/directive"
          routerLinkActive="bg-warning text-black"
          >2. Directives
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/binding"
          routerLinkActive="bg-warning text-black"
          >3. Binding and Custom Binding
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/referencevar"
          routerLinkActive="bg-warning text-black"
          >4. Template Reference and Component Reference Variable
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/deco&temp"
          routerLinkActive="bg-warning text-black"
          >5. Decorator and Templates</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/hooks"
          routerLinkActive="bg-warning text-black"
          >6. LifeCycle Hooks</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/concepts"
          routerLinkActive="bg-warning text-black"
          >7. Concepts
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/services-dependency"
          routerLinkActive="bg-warning text-black"
          >8. Services & Dependency Injection</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/routes"
          routerLinkActive="bg-warning text-black"
          >9. Routing in Angular</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/guard"
          routerLinkActive="bg-warning text-black"
          >10. Route Guard</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/pipes"
          routerLinkActive="bg-warning text-black"
          >11. Pipes</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/forms"
          routerLinkActive="bg-warning text-black"
          >12. Forms</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/observable"
          routerLinkActive="bg-warning text-black"
          >13. Observable</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/http"
          routerLinkActive="bg-warning text-black"
          >14. HTTP
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLink="/interceptor"
          routerLinkActive="bg-warning text-black"
          >15. Interceptor
        </a>
      </li>
    </ul>
  </li>
</ul>
