<div class="pt-5">
  <!-- Reactive forms -->
  <nav class="flex gap-2 justify-center items-center">
    <a class="p-2 bg-green-300 cursor-pointer" routerLink="reactive">Reactive Forms</a>
    <a class="p-2 bg-green-300 cursor-pointer" routerLink="typed-reactive">Typed Reactive Forms</a>
    <a class="p-2 bg-green-300 cursor-pointer" routerLink="template">Template Driven Forms</a>
  </nav>

  <!-- router outlet -->
  <div class="border-2 border-black mt-8 mx-8 p-1">
    <router-outlet></router-outlet>
  </div>
</div>
