{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="container text-center mt-3">
    <h1>About : </h1>
    <p class="mt-1">This Todo app allows you to manage your tasks by adding, marking as completed, and deleting them.
    </p>
    <p>It is built using Flask as the backend and Bootstrap for styling the user interface.</p>
    <p>Feel free to explore and start organizing your tasks!</p>
    <a href="/"
        class="btn btn-lg text-uppercase btn-outline-dark mt-5 animate__animated animate__infinite animate__slow animate__heartBeat">Explore</a>
</div>

{% endblock body %}