{% block csscripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csscripts %}

<div class="footer fixed-bottom bg-black text-white">
    <div class="d-flex p-3 justify-content-between">
        <div>Made With <i class="fa-solid fa-heart fa-flip" style="color: #fb0404;"></i> By Prathamesh Dhande</div>
        <div><a href="https://www.github.com/Prathameshdhande22/Web-development-Tutorial"><i
                    class="fa-brands fa-github fa-lg fa-3x" style="color: #ffffff;"></i></a></div>
    </div>
</div>