<div class="container">
  <h3 class="mt-3">4. ngFor Directive</h3>
  <ngfor />
  <hr>

  <h3 class="mt-3">5. ngIf Directive</h3>
  <ngif />
  <hr>

  <h3 class="mt-3">6. ngStyle Directive</h3>
  <ngstyle />
  <hr>

  <h3 class="mt-3">7. ngClass Directive</h3>
  <ngclass />
  <hr>

  <h3 class="mt-3">21. Custom Directive, Renderer2, &commat;HostListener Decorator & &commat;HostBinder Decorator</h3>
  <customdirective />
  <hr>

  <h3 class="mt-3">22. ngSwitch Structural Directive</h3>
  <ngswtich />
  <hr>
</div>
