<div>
  <p>
    Login Service and Implementation of CanActivate, CanActivateChild route guards. 
  </p>
  <div *ngIf="!authservice.isLoggedIn else logtemp">

    <form class="border border-1 border-danger p-3 mb-3 rounded-2">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #usernamebox>
        <div class="form-text">
          Username : johndoe
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" #passwordbox>
        <div class="form-text">
Password : password123
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onsubmit($event)">Submit</button>
    </form>

  </div>
  <ng-template #logtemp>
    You are LoggedIn User
    <button class="btn btn-outline-danger" (click)="this.authservice.logout()">
      LogOut
    </button>
  </ng-template>
</div>
