<div class="container">
  <h3 class="mt-3">13. &commat;ViewChild</h3>
  <app-viewchild />
  <hr>

  <h3 class="mt-3">14. &commat;ViewChildren</h3>
  <view-children-comp />
  <hr>

  <h3 class="mt-3">15. &lt;ng-template&gt;</h3>
  <ngtemplatecomp />
  <hr>

  <h3 class="mt-3">16. &lt;ng-container&gt;</h3>
  <ngcontainercomp />
  <hr>

  <h3 class="mt-3">17. &lt;ng-content&gt;</h3>
  <ngcontentcomp />
  <hr>

  <h3 class="mt-3">18. &commat;ContentChild</h3>
  <contentchildcomp />
  <hr>

  <h3 class="mt-3">19. &commat;ContentChildren</h3>
  <contentchildren />
  <hr>
</div>
