<p>
  ngOnChanges Hooks are called first time and when and change cycle detection happens. Whereas ngOnInit Hooks are called first time after the ngOnChanges where we can write only Initialization Code. ngDoCheck hooks are called every time whenever the change cycle detection happens.
</p>
<div class="border">
  <div class="input-group">
    <input type="text" class="form-control" #inputele placeholder="Enter the Text">
    <button class="btn btn-info" (click)="onBtnClick(inputele)">
      Submit
    </button>
  </div>
  <messagecomponent [message]="message">

  </messagecomponent>
</div>
