@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Signika+Negative:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b0c4de;
}

.title {
    font-family: 'Signika Negative', sans-serif;
    font-size: 4em;
}

.page {
    position: relative;
    min-height: 100vh;
}

.header {
    background-image: linear-gradient(to left, rgb(104, 203, 223) 20%, rgb(115, 240, 126)50%, rgb(73, 196, 240));
    border-bottom: 4px solid orange;
    text-align: center;
}

.info {
    text-align: center;
    padding: 20px 0px;
    font-size: 1.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons>button {
    width: 130px;
    height: 45px;
}

.todos {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 4em;
}

.tod {
    display: grid;
    grid-template-columns: 20vw auto auto auto;
    column-gap: 10px;
    position: relative;
    z-index: 40;
}

.bord {
    border: 2px solid black;
}

input[type=text] {
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    padding: 0px 8px;
}

.todoname {
    text-align: right;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    padding: 5px 0px;
    overflow: scroll;
}

.checked {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}


.footer {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 10px 0px 10px;
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}


@media screen and (min-width: 100px) and (max-width:600px) {
    .title {
        font-family: 'Signika Negative', sans-serif;
        font-size: 2.5em;
    }

    .info {
        text-align: center;
        padding: 20px 10px;
        font-size: 1em;
        line-height: 50px;
    }

    .buttons>button {
        width: 100px;
        height: 45px;
        font-size: 12px;
        overflow: hidden;
    }

    input[type=text] {
        font-family: 'Crimson Text', serif;
        font-size: 18px;
        padding: 0px 8px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 6px;
        flex-wrap: wrap;
        margin: 0px 10px;
    }


    .todoname {
        font-size: 1em;
        text-align: center;
    }

    .tod {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        column-gap: 5px;
        row-gap: 5px;
    }

    .todos {
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .made {
        font-size: 90%;
        padding: 5px 0px;
    }

    .footer {
        padding: 15px;
    }

    footer {
        position: absolute;
    }

}

.listtodotitle {
    font-size: 22px;
    font-family: 'Crimson Text', serif;
    text-align: center;
    text-shadow: 4px 4px 12px blue;
}