<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Employee - MVC Tutorial</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header style="text-align:center;">
        <nav>Employee Layout</nav>
        <div>Employee Navigation</div>
        <div>
            @RenderSection("EmployeeMenu", false)
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    <footer style="padding:20px;border:2px solid green;">
        <h4 style="text-align:center;">@@ CopyRight 2024</h4>
    </footer>
</body>
</html>