<div *ngIf="selectedLaptop">
  <div class="border border-1 border-success p-3 rounded-2">
    <div class="text-center">
      <span *ngIf="selectedLaptop.stock<=0" class="bg-danger text-white py-1 px-3">
        Out of Stock
      </span>
    </div>
    <span class="d-block">
      <strong>
        Laptop Name :
      </strong>
      {{selectedLaptop.name}}
    </span>
    <span class="d-block">
      <strong>
        Brand :
      </strong>
      {{selectedLaptop.brandName}}
    </span>
    <span class="d-block">
      <strong>
        Price :
      </strong>
      ${{selectedLaptop.price}}
    </span>
    <span class="d-block">
      <strong>
        Processor :
      </strong>
      {{selectedLaptop.processor}}
    </span>
    <span class="d-block">
      <strong>
        Processor Company :
      </strong>
      <span class="bg-primary text-white px-2 py-1 rounded-3 fs-6"
        [ngClass]="{'bg-success':selectedLaptop.processorCompany==='Intel','bg-warning text-dark':selectedLaptop.processorCompany==='Ryzen'}">
        {{selectedLaptop.processorCompany}}
      </span>
    </span>
    <span class="d-block">
      <strong>
        Ram :
      </strong>
      {{selectedLaptop.ram}}
    </span>
    <span class="d-block">
      <strong>
        ROM :
      </strong>
      {{selectedLaptop.rom}}
    </span>
    <span class="d-block">
      <strong>
        Stock :
      </strong>
      {{selectedLaptop.stock}}
    </span>
    <span class="d-block">
      <strong>
        Storage Type :
      </strong>
      <span class="bg-success text-white p-1 rounded-3" [ngClass]="{'bg-danger':selectedLaptop.storageType==='HDD'}">
        {{selectedLaptop.storageType}}
      </span>
    </span>
  </div>

</div>
