<div class="container position-relative mb-5">
  <p>
    Fragments are routing using id of the section. They are denoted by # symbol then fragment name.
  </p>


  <ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
      <!-- Assigning the fragments -->
      <a routerLink="/routes/fragments" fragment="services" class="nav-link">Services</a>
    </li>
    <li class="nav-item">
      <a routerLink="/routes/fragments" fragment="popular" class="nav-link">Popular</a>
    </li>
    <li class="nav-item">
      <a routerLink="/routes/fragments" fragment="contact" class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a routerLink="/routes/fragments" fragment="courses" class="nav-link">Courses</a>
    </li>
    <li class="nav-item">
      <a routerLink="/routes/fragments" fragment="trending" class="nav-link">Trending</a>
    </li>
  </ul>


  <section id="services" class="mt-5">
    <h3>
      Services
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil recusandae, vel, cupiditate nobis ipsa nemo
      incidunt in ad voluptatibus similique numquam iste. Adipisci cum tempora quas velit cupiditate, officia veritatis
      voluptatibus eum aliquid possimus rerum neque accusamus et nesciunt aliquam natus voluptates enim iure vero
      officiis ad corrupti omnis! Ratione, sed quidem voluptate nostrum et id dolorem blanditiis reprehenderit,
      similique, odit eveniet quod illo. Consequuntur voluptate dolor cumque quas harum id temporibus, sint nemo
      molestiae, dolorum quisquam dignissimos totam, sunt eos obcaecati nam recusandae minus autem ab architecto
      repudiandae? Aliquid vero magni vel obcaecati repudiandae error laudantium voluptatibus! Molestiae, nobis?
    </div>
  </section>
  <section id="popular" class="mt-5">
    <h3>
      Popular
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil recusandae, vel, cupiditate nobis ipsa nemo
      incidunt in ad voluptatibus similique numquam iste. Adipisci cum tempora quas velit cupiditate, officia veritatis
      voluptatibus eum aliquid possimus rerum neque accusamus et nesciunt aliquam natus voluptates enim iure vero
      officiis ad corrupti omnis! Ratione, sed quidem voluptate nostrum et id dolorem blanditiis reprehenderit,
      similique, odit eveniet quod illo. Consequuntur voluptate dolor cumque quas harum id temporibus, sint nemo
      molestiae, dolorum quisquam dignissimos totam, sunt eos obcaecati nam recusandae minus autem ab architecto
      repudiandae? Aliquid vero magni vel obcaecati repudiandae error laudantium voluptatibus! Molestiae, nobis?
    </div>
  </section>
  <section id="contact" class="mt-5">
    <h3>
      contact
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil recusandae, vel, cupiditate nobis ipsa nemo
      incidunt in ad voluptatibus similique numquam iste. Adipisci cum tempora quas velit cupiditate, officia veritatis
      voluptatibus eum aliquid possimus rerum neque accusamus et nesciunt aliquam natus voluptates enim iure vero
      officiis ad corrupti omnis! Ratione, sed quidem voluptate nostrum et id dolorem blanditiis reprehenderit,
      similique, odit eveniet quod illo. Consequuntur voluptate dolor cumque quas harum id temporibus, sint nemo
      molestiae, dolorum quisquam dignissimos totam, sunt eos obcaecati nam recusandae minus autem ab architecto
      repudiandae? Aliquid vero magni vel obcaecati repudiandae error laudantium voluptatibus! Molestiae, nobis?
    </div>
  </section>
  <section id="courses" class="mt-5">
    <h3>
      Courses
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil recusandae, vel, cupiditate nobis ipsa nemo
      incidunt in ad voluptatibus similique numquam iste. Adipisci cum tempora quas velit cupiditate, officia veritatis
      voluptatibus eum aliquid possimus rerum neque accusamus et nesciunt aliquam natus voluptates enim iure vero
      officiis ad corrupti omnis! Ratione, sed quidem voluptate nostrum et id dolorem blanditiis reprehenderit,
      similique, odit eveniet quod illo. Consequuntur voluptate dolor cumque quas harum id temporibus, sint nemo
      molestiae, dolorum quisquam dignissimos totam, sunt eos obcaecati nam recusandae minus autem ab architecto
      repudiandae? Aliquid vero magni vel obcaecati repudiandae error laudantium voluptatibus! Molestiae, nobis?
    </div>
  </section>
  <section id="trending" class="mt-5">
    <h3>
      Trending
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil recusandae, vel, cupiditate nobis ipsa nemo
      incidunt in ad voluptatibus similique numquam iste. Adipisci cum tempora quas velit cupiditate, officia veritatis
      voluptatibus eum aliquid possimus rerum neque accusamus et nesciunt aliquam natus voluptates enim iure vero
      officiis ad corrupti omnis! Ratione, sed quidem voluptate nostrum et id dolorem blanditiis reprehenderit,
      similique, odit eveniet quod illo. Consequuntur voluptate dolor cumque quas harum id temporibus, sint nemo
      molestiae, dolorum quisquam dignissimos totam, sunt eos obcaecati nam recusandae minus autem ab architecto
      repudiandae? Aliquid vero magni vel obcaecati repudiandae error laudantium voluptatibus! Molestiae, nobis?
    </div>
  </section>


  <button class="btn btn-primary rounded-5 position-fixed bottom-0 mb-1 end-0 me-2" (click)="UpperWindow()">
    Top ^
  </button>
</div>
