<style>
  li {
    margin-top: 15px;
  }
</style>

<p>
  Angular LifeCycle Hooks
</p>
<div>
  <ol type="I">
    <li>
      <h3>
        ngOnChanges Hook, ngOnInit Hook & ngDoCheck Hook.
      </h3>
      <app-ngonchanges />
    </li>
    <li>
      <h3>
        ngAftercontentInit, ngAfterContentChecked, ngAfterViewInit & ngAfterViewChecked Hook
      </h3>
      <ngaftercontentinit />
    </li>
    <li>
      <h3>
        ngOnDestroy Hook
      </h3>
      <ngondestory />
    </li>
  </ol>
</div>
