<div class="pt-14">
  <div class="border-2 border-black rounded-xl mt-3 p-2">
    <h3 class="font-bold text-2xl">Observable</h3>
    @for (num of data_emitted(); track $index) {
    <span id="{{ $index }}">
      {{ num }}
    </span>
    }

    <div #messagediv></div>
  </div>

  <div class="border-2 border-black rounded-xl mt-3 p-2">
    <h3 class="font-bold text-2xl">Subjects</h3>
    <!-- Subjects values -->
    <button class="p-2 bg-pink-400 border-2 border-red-500" (click)="emitEvent()">
      Click to Emit
    </button>
    <div #logsdiv class="flex gap-2"></div>
    <button class="p-2 bg-green-600 border-2 border-blue-500" (click)="cancelSubscription()">
      Cancel Emit
    </button>
  </div>

  <div class="border-2 border-black rounded-xl mt-3 p-2">
    <h3 class="font-bold text-2xl">Behavior Subject</h3>
    <!-- Behavior Subject Creation -->
    <span>Values Changes : {{ b_snumber() }}</span>
  </div>

  <!-- Example of Operators -->
  <div class="border-2 border-black rounded-xl mt-3 p-2">
    <h3 class="font-bold text-2xl">Operators</h3>
    <button
      class="p-2 bg-violet-400 border-2 border-black cursor-pointer hover:bg-violet-800 hover:text-white transition-colors"
      (click)="fetchProducts()"
    >
      Fetch all Products
    </button>
    <div class="flex gap-2 flex-wrap">
      @for (product of products(); track product.id) {
        <div class="border-2 border-red-400 p-1">
          <span>{{product.title}}</span>
        </div>
      }
    </div>
  </div>
</div>
