
@{
    ViewBag.Title = "PostData";
}

<h2>PostData</h2>

<form method="post" action="/Employee/PostData">

    <label for="buttonsubt">Submit Details</label>
    <button type="submit" id="buttonsubt">Submit</button>
</form>
