<header class="bg-[#ffd0f4b7]">
  <nav class="container px-10 py-4 flex justify-between content-center">
    <div
      class="text-purple-600 text-xl font-bold cursor-pointer"
      routerLink="/"
    >
      Angular StandAlone
    </div>
    <ul class="flex gap-11">
      <li>
        <a routerLink="" routerLinkActive="text-violet-500">Home</a>
      </li>
      <li>
        <a routerLink="/privacy" routerLinkActive="text-violet-500">Privacy</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="text-violet-500"
          >Contact US</a
        >
      </li>
      <li><a routerLink="/todo" routerLinkActive="text-violet-500">Todo</a></li>
    </ul>
  </nav>
</header>
