<div class="mt-4">
  <div class="flex flex-row flex-wrap justify-between items-center gap-3">
    <h4 class="text-xl font-bold">List of Books</h4>
    <button class="btn btn-md btn-soft btn-warning" (click)="openModal()">Add Book</button>
  </div>

  <div class="mt-4">
    <!-- loading state -->
    @if (loading()) {
    <div class="flex w-52 flex-col gap-4">
      <div class="skeleton h-32 w-full"></div>
      <div class="skeleton h-4 w-28"></div>
      <div class="skeleton h-4 w-full"></div>
      <div class="skeleton h-4 w-full"></div>
    </div>
    } @else if (errorMessage() && !loading()) {
    <div class="text-red-500">Failed to Load the Books</div>
    } @else {
    <div class="flex flex-wrap gap-2">
      @for (book of books(); track book.id) {
      <app-book-card [book]="book" (bookidremove)="removeBook($event)" />
      }
    </div>
    }
  </div>
</div>
<app-add-book-modal></app-add-book-modal>
