<div class="form-typed">
  <!-- displaying the form record -->
  <form [formGroup]="address">
    @for (forminput of address.controls | keyvalue; track $index) {
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-2" [htmlFor]="forminput.key">{{
        forminput.key
      }}</label>
      <input
        [id]="forminput.key"
        type="text"
        [formControlName]="forminput.key"
        class="w-full p-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-100"
      />
    </div>
    }
  </form>

  <button (click)="addNewform()">Add New Record</button>

  <!-- Custom Validator -->
  <div>
    <label for="user-select">Enter your Username Selection</label>
    <input
      type="text"
      [formControl]="usernameselect"
      name="username-select"
      class="border-2 border-black p-2"
      id="user-select"
    />
    @if (usernameselect.hasError("rangevalid")) {
    <span class="text-red-500">
      {{ usernameselect.getError('rangevalid') }}
    </span>
    }
  </div>

  <!-- Async Validator -->
  <div>
    <label for="promo-code">Enter the Promo Code</label>
    <input
      type="text"
      [formControl]="promocode"
      name="promocode"
      class="border-2 border-black p-2"
      id="promo-code"
    />
    @if (promocode.hasError("promocode")) {
    <span class="text-red-500">
      {{ promocode.getError('promocode') }}
    </span>
    }
  </div>
</div>
