* {
    margin: 0;
    padding: 0;
}

.mainflag {
    width: 1000px;
    height: 500px;
    border: 4px solid black;
    margin: 100px;
    box-shadow: 10px 10px 5px grey;
}

.mainflag .redpart {
    width: 100%;
    height: 33.33%;
    background-color: orange;
}

.mainflag .whitepart {
    width: 100%;
    height: 33.33%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.mainflag .greenpart {
    width: 100%;
    height: 33.33%;
    background-color: green;
}

.mainflag .whitepart img {
    margin: 11px;
    animation: revolvingChakra 10s none 0s infinite normal;
}

@keyframes revolvingChakra {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.label {
    font-size: 80px;
    background: linear-gradient(orange, white, green);
    text-align: center;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    background-clip: text;
    -webkit-background-clip: text;
}