<div class="container">
  <h3 class="mt-3">1. Template Driven Forms</h3>
  <p>
    Creating the form in the template by ngForm Class and assigning its values
    through ngForm only.
  </p>
  <button class="btn btn-outline-primary" routerLink="template-driven">
    Navigate to Template Driven Forms
  </button>
  <hr />

  <h3 class="mt-3">2. Reactive Forms</h3>
  <p>
    Creating the forms programatically in the typescript only whereas in
    template we need to create the form validation in the template or say in
    views only.
  </p>
  <button class="btn btn-outline-primary" routerLink="reactive-form">
    Navigate to Reactive Forms
  </button>
  <hr />

  <h3 class="mt-3">3. Creating Reactive Forms using FormBuilder</h3>
  <p>
    Creating the the Reactive Forms using the formBuilder api helps to reduce the code. 
  </p>
  <button class="btn btn-outline-primary" routerLink="form-builder">
    Navigate to FormBuilder
  </button>
  <hr />
</div>
