
@{
    ViewBag.Title = "SetHiddenField";
}

<h2>SetHiddenField</h2>

@{ Html.BeginForm();}
@Html.AntiForgeryToken()
@Html.Hidden("role", "Admin", new { id = "rolefield" })
<p>Here the Hidden field is Role with Value as Admin</p>
@Html.Label("name", "Enter Your Name")
@Html.TextBox("name", "Prathamesh", new { @class = "form-control " })
<br />
<button type="submit" value="submit" class="btn btn-info">Submit</button>
@{ Html.EndForm();}

@section scripts{

    <script>
        //Changing the value of the hidden field before submitting the form
        $("form").on("submit", function () {
            $("#rolefield").val("User")

        })
    </script>
}