<div class="">
  <h4 class="text-2xl font-bold animate-bounce">Counter Tutorial</h4>

  <div class="flex flex-col gap-4 mt-3 w-1/4">
    <h3 class="text-xl font-medium self-center">{{ count() }}</h3>
    <div class="flex flex-wrap gap-2 items-stretch">
      <button class="btn btn-soft btn-secondary btn-lg" (click)="increment()">Increment</button>
      <button class="btn btn-soft btn-primary btn-lg" (click)="decrement()">Decrement</button>
      <button class="btn btn-soft btn-accent btn-lg" (click)="reset()">Reset</button>
    </div>
  </div>
  <app-share-count class="pt-8" />
</div>
