<!--Listing over simple types-->
<div>
  <p>Used to iterate over items of array</p>
  <!--Structural directives are used using *ngfor -->
  <div *ngFor="let item of items">
    <!--Prints these till the data have in items-->
    <span class="d-block">The Current Element from the Array : {{item}}</span>
  </div>
</div>


<!--Listing over complex types-->
<div class="d-flex flex-wrap gap-2 my-3 justify-content-center align-content-center">
  <div *ngFor="let product of productItems;let i=index"
    class="d-inline-block p-3 border border-1 border-dark rounded-4 col">
    <div class="image-wrapper text-center p-2">
      <img [src]="product.image" alt="">
    </div>
    <div class="gy-2 gx-2">
      <span class="d-block">Product {{i}}</span>
      <span class="d-block fs-5 fw-bold">
        {{product.title}}
      </span>
      <span class="d-block">
        {{product.description}}
      </span>
      <span class=" d-inline-block bg-primary text-white p-1 rounded-1 my-2"> {{product.category}}</span>
      <span class="d-block">Price :
        {{product.price}}
      </span>
      <span>Stock : {{product.stock}}</span>
    </div>
  </div>
</div>
