<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Tutorial</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-navlinks
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    ></app-navlinks>
    <!-- Creating component inside the component -->
  </div>
</nav>

<!--Using the Attribute inside the div tag-->
<div smallbtn class="text-center my-2"></div>

<!-- these is the usage of class selector-->
<div class="helptext"></div>
<button class="btn-angular">these is primary button</button>
