<div class="border-2 border-black p-4 mt-3">
  <h4 class="text-2xl font-bold">Linked Signal</h4>
  <div>
    <input type="range" [value]="percentage()" (input)="changeRange($event.target.valueAsNumber)" />
    {{ percentage().toFixed(0) }}%
    <!-- converts the percentage to value between 0 -1 -->
    <p>Value: {{ progress() }}</p>
    <button
      class="bg-yellow-500 text-black border-2 border-gray-500 shadow-2xl"
      (click)="percentage.set(23)"
    >
      Set the value of the Progress
    </button>
  </div>
</div>
